/* header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#close {
    display: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgba(255, 68, 0, 0.653);
    box-shadow: 2 5px 10px rgba(0, 0, 0, 0.08);
    
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: rgb(79, 78, 78);
    border-bottom: 1.5px solid rgb(141, 6, 6);
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(79, 78, 78);
    border-bottom: 1.5px solid rgb(141, 6, 6);
}

/*#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(141, 6, 6);
    position: absolute;
    bottom: -4px;
    left: 20px;

}*/

#mobile {
    display: none;
    align-items: center;
}

#header a img {
    width: 70px;
    border-radius: 100px;
}

/* media query */

@media (max-width: 477px) {
    * {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 0;
        margin: 0 0;  
    }

    #close {
        display: initial;
    }
    
    .div-sticky {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        color: black;
        border: 1px solid black;
        padding: 0%;
        margin: 20px 20px;
        border-radius: 10px;
    }

    .blog-page {
        display: flex;
        column-gap: 20px;
        flex-direction: column;
    }

    #header a img {
        width: 60px;
    }

    .contact-header {
        background-repeat: no-repeat;
        height: 30vh;
    }

    iframe{
        margin: 30px;
        width: 90%;
    }

    .get-in-touch {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .body {
          flex-direction: column;
    }

    .aboutimg2 {
        width: 100%;
        left: 20px;
    }

    .convinient-location {
        text-align: center;
        justify-content: center;
    }

    #header {
        height: 13vh;
    }



    .img-header {
        align-items: center;
        justify-content: center;
        background-image: url('./images/aboutimg2.webp');
        height: 20vh;
        width: 100%;
        background-repeat: repeat;
        box-sizing: content-box;
    }

    .section-p1 {
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        font-size: 15px;
    }

    .home-deiial {
        display: flex;
        flex-direction: column;
    }

    .paragraph {
        padding: 10px auto;
        margin: 50px 20px;
        font-size: 17px;
    }


    .img-header {
    width: 88%;
    }

    .button {
        padding: 10px 20px;
        margin-bottom: 40px;
    }


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 170px;
        background-color: rgba(149, 227, 251, 0.601);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
        z-index: +9;
    }

    #navbar.active{
        left: 0;
    }

    #navbar li {
        margin-bottom: 23px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }
    h3 {
        margin: none;
    }

    .sticky1 {
        z-index: -1;
        position: fixed;
        background-repeat: repeat;
        background-size: contain;
        width: 80%;
        top: 30%;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .accept-policy {
        width: 300px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .section-p1 {
        display: flex;
        text-align: center;
        justify-content: space-around;
        color: rgb(252, 250, 250);
        background-color: rgb(70, 70, 249);
        font-size: 15px;
        flex-direction: column;
    }

    .row {
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 70vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }

    

}


.section-p1 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: rgb(252, 250, 250);
    background-color: rgb(70, 70, 249);
    font-size: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}



.col img {
    width: 70px;
    border-radius: 100px;
}

.col a{
    font-size: 13px;
    padding: 10px;
}

.follow {
    display: flex;
    flex-direction: column;
    columns: 3;
    text-align: center;
    justify-content: center;
}

#icon1 {
    color: blue;
    border-bottom: 10px;
    font-size: 34px;
}

#icon2 {
    color: green;
    border-bottom: 10px;
    width: 50px;
}
.col a {
    text-decoration: none;
    color: black;
}

.col a:hover {
    
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.708); 
    color: blue;
}

/*.payment-get-way {
    font-size: 16px;
    font-weight: 600;
}*/

#icon3 {
    color: orange;
    font-size: 34px;
}
#icon4 {
    color: blue;
    font-size: 34px;
}

.payment-get-way i {
    display: block;
}

.payment-get-way p {
    margin-top: 50px;
}


.payment-get-way img {
    width: 14%;
}


/* about */
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: purple;
    padding: 20px;
    font-size: 16px;
}
 
p {
    padding: 10px auto;
    font-size: 16px;
}

.aboutimg2 {
    width: 60%;
}

.aboutimg {
    width: 20%;
}

#our-mission,
.our-vision {
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.738);
    background-color: rgb(253, 226, 226);
}

.our-mission {
    width: 75%;
}
.convinient-location {
    text-align: end;
}

.contact-header {
    text-align: center;
    justify-content: center;
    background-image: url('./backgroundimage.png');
    background-repeat: repeat;
    height: 50vh;
}

.get-in-touch {
    display: flex;
    text-align: center;
    align-items: center;
}

.puppies-sold {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.puppies-sold img {
    width: 80%;
    border-radius: 50px;
}

.puppies-sold div {
    border: none;
    margin: 30px 40px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.904);
    background-color: rgb(222, 238, 253);
}

@media (max-width:1200px) {
    .home-deiial {
        display: flex;
        flex-direction: column;
    }
    .paragraph{
        padding: 40px 60px;
        font-size: 25px;
    }
    .button1{
        margin-bottom: 60px;
    }
    .body {
        font-size: 23px;
    }
    h2 {
        font-size:20px ; 
    }
    * {
       font-size: 23px;
       text-align: center;
       justify-content: center;
    }
    .contact-header {
        height: 20vh;
    }
    .get-in-touch {
       flex-direction: column;
    }
    iframe{
        margin-top: 70px;
    }
    .blog-page {
        flex-direction: column;
    }

    h3 {
        margin: 20px 40px;
    }

      
    
}

 @madai (min-width:1240px) {
    .blog-page {
        display: flex;
        column-gap: 20px;
    }
 }

 .banna4{
    height: 50vh;
    background-image: url(./images/JackRussellTerrier.jpg);
    margin: 30px;
    padding: 40px;
}

.banna4 h2{
    backdrop-filter: blur(10px);
    color: aliceblue;
}

.banna5 img{
    width: 80%;
    margin-bottom: 10px;
}

.banna5 {
    margin: 40px 20px;
    border: none;
    border: 8px;
    background-color: rgb(165, 250, 250);
}

.Reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
    margin: 20px;
    border-radius: 21px;
    box-shadow: 7px 7px 3px purple;
}

.Reasons1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    text-wrap: wrap;
}

#hoursbutton{
    border: none;
    font-size: 21pxpx;
    color: black;
    background-color: gainsboro;
    padding: 9px;
    border-radius: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 1s ease;
}

#hoursbutton:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.656);
    background-color: rgb(165, 164, 164);
}

#close-hours {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    background-color: gainsboro;
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: -10000px;
    transition: 0.7s ease;    
    z-index: +10;
    right: 0;
}

#close-hours.active {
    left: 0px;
}


.hourstime ul li{
    list-style-type: none;
    align-items: flex-end;
    font-size: 15px;
}

.dail {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    text-align: center;
    align-items: center; 
}

.row {
    display: flex;
    text-align: center;
    align-items: center; 
    width: 90%;
    height: 100vh;
}

.col {
    background-color: rgb(80, 80, 255);
    height: 100vh;
    
}

.col h6{
    font-size: 15px;
}

.col-md {
    margin: 20px;
    border: none;
    box-shadow: 3px 3px 5px black;
    padding: 15px;
}

.form-group input{
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(169, 253, 253);
}

.form-group textarea {
    border: none;
    border-radius: 8px;
    margin: 5px;
    background-color: rgb(169, 253, 253);
    font-size: 17px;
}

.form-group h6 {
    font-size: 19px;
}

.btn {
    background-color: rgb(80, 80, 255);
    font-size: 17px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
